<div class="public-food-wrapper">
    <h2>Public Recipes</h2>
    <div class="mini-wrapper">
        <% @public_recipes.each do |recipe| %>
            <div class=public-food-mini-wrapper>
                <div>
                    <h3><%=recipe.name%></h3>
                    <p>By:<%=recipe.user.name%></p>
                    <% if can?(:destroy, recipe) %>
                        <%= button_to 'Remove', recipe_path(recipe), method: :delete, class: "remove-button" %>
                    <% end %>
                </div>
                <div>
                    <p>Total food items:<%=recipe.food_count%></p>
                    <p>Total price:<%=recipe.total_cost%></p>
                </div>
            </div>
        <%end%>
    </div>
</div>