<nav class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      FoodRecipe
    <% end %>
  </div>
  <% if user_signed_in? %>
  <ul class="navbar-links">
    <li><%= link_to "Foods", foods_path %></li>
    <li><%= link_to "Recipes", recipes_path %></li>
    <li><%= link_to "Add Recipe", new_recipe_path %></li>
    <li><%= link_to "Public Recipes", public_recipes_path %></li>
    <li><%= link_to "Shopping List", general_shopping_list_path %></li>
    <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "ingre-delete-button" %></li>
</ul>
    <% end %>

</nav>
